
<div style="height: 55px;background-color: rgb(16, 24, 94);">

</div>

<div class="jumbotron container  cardContainer" style="display: flex;">
        <div class="card-deck row">
            <div class="card  col linkcard">
              <div class="card-body text-center">
                <h1>ADMIN SECTION AREA</h1>
                <div class=" col ">
                    <img src="./assets/Images/pic12.png">
                </div>
                <button (click)="RedirectToadmin()" type="button" class="btn btn-outline-primary">ENTER</button>

             </div>
            </div>
            <div class="card  col linkcard">
               <div class="card-body text-center">
                <h1>CATALOGUE AREA</h1>
                <div class=" col ">
                    <img src="./assets/Images/pic13.png">
                </div>
                <button  (click)="RedirectTocatelogue()"type="button" class="btn btn-outline-primary">ENTER</button>

               </div>

            </div>
           
        </div>

</div>

           <!--FOOTER-->
           <app-footer></app-footer>
